{% extends 'base.html.twig' %}

{%  block metaEtLinkSupplementaire %}
    <link rel="stylesheet" href={{asset('styles/rgpd.css')}}>
    {% endblock %}
{% block body %}

<article><h2>Politique de Confidentialité - AccèsGym</h2>

<p>Dernière mise à jour : 20 mai 2024</p>

<p>Chez AccèsGym, nous accordons une grande importance à la confidentialité et à la protection des données personnelles de nos membres et utilisateurs.</p>
<p>Cette politique de confidentialité explique quelles données nous collectons, comment nous les utilisons, et les droits dont vous disposez concernant vos informations personnelles, conformément au Règlement Général sur la Protection des Données (RGPD).</p>

<h3>1. Responsable du traitement des données</h3>

<p>Le responsable du traitement des données est :</p>
<p>
AccèsGym</p>
<p>23 Rue du Doubs, 39100 Dole, France</p>
<p>0677943324</p>
<p>accègym@gmail.com</p>


<h3>2. Données personnelles collectées</h3>

<p>Nous collectons et traitons les données personnelles suivantes :</p>

<p>Données d'identification : nom, prénom, date de naissance, adresse.</p>
<p>Coordonnées : adresse e-mail, numéro de téléphone.</p>
<p>Données de santé : informations médicales pertinentes (avec votre consentement explicite).</p>
<p>Données de paiement : informations bancaires ou de carte de crédit.</p>
<p>Données de connexion : adresse IP, type de navigateur, système d'exploitation, pages visitées.</p>

<h3>3. Utilisation des données</h3>

<p>Vos données personnelles sont utilisées pour les finalités suivantes :</p>

<p>Gestion des inscriptions et des abonnements : traitement des inscriptions, gestion des abonnements et des paiements.</p>
<p>Communication : envoi de newsletters, informations sur les cours, événements et promotions.</p>
<p>Sécurité : assurer la sécurité des installations et des membres.</p>
<p>Amélioration des services : analyse des habitudes des membres pour améliorer nos services.</p>

<h3>4. Base juridique du traitement</h3>

<p>Nous traitons vos données personnelles sur les bases légales suivantes :</p>

<p>Exécution d'un contrat : pour gérer votre abonnement et les services associés.</p>
<p>Consentement : pour l'envoi de newsletters et pour le traitement des données de santé.</p>
<p>Obligations légales : pour respecter les obligations légales en matière de comptabilité et de fiscalité.</p>
<p>Intérêts légitimes : pour assurer la sécurité et améliorer nos services.</p>

<h3>5. Partage des données</h3>

<p>Nous ne partageons vos données personnelles qu'avec les tiers suivants :</p>

<p></p>Prestataires de services : pour le traitement des paiements, l'hébergement du site web, l'envoi de newsletters.
<p></p>Autorités légales : en cas d'obligation légale.

<h3>6. Durée de conservation des données</h3>

<p>Nous conservons vos données personnelles aussi longtemps que nécessaire pour les finalités pour lesquelles elles ont été collectées, ou pour répondre aux exigences légales.</p>

<h3>7. Sécurité des données</h3>

<p>Nous mettons en œuvre des mesures techniques et organisationnelles appropriées pour protéger vos données contre la perte, le vol, et l'accès non autorisé.</p>

<h3>8. Vos droits</h3>

<p>Conformément au RGPD, vous disposez des droits suivants :</p>

<p>Droit d'accès : obtenir la confirmation que des données personnelles vous concernant sont traitées, et accéder à ces données.</p>
<p>Droit de rectification : demander la correction des données inexactes ou incomplètes.</p>
<p>Droit à l'effacement : demander la suppression de vos données personnelles dans certaines circonstances.</p>
<p>Droit à la limitation du traitement : demander la limitation du traitement de vos données dans certaines circonstances.</p>
<p>Droit d'opposition : vous opposer au traitement de vos données personnelles dans certaines circonstances.</p>
<p>Droit à la portabilité des données : recevoir les données personnelles que vous nous avez fournies dans un format structuré, couramment utilisé et lisible par machine.</p>

<h3>9. Exercice de vos droits</h3>

<p>Pour exercer vos droits, veuillez nous contacter à l'adresse suivante :</p>
<p>AccèsGym</p>
<p>23 Rue du Doubs, 39100 Dole, France</p>
<p>0677943324</p>
<p>accègym@gmail.com</p>

<h3>10. Modifications de la politique de confidentialité</h3>

<p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera publiée sur cette page avec une date de mise à jour.</p>

<h3>11. Contact</h3>

<p>Si vous avez des questions concernant cette politique de confidentialité, veuillez nous contacter à l'adresse suivante :</p>
<p>AccèsGym</p>
<p>23 Rue du Doubs, 39100 Dole, France</p>
<p>0677943324</p>
<p>accègym@gmail.com</p>
</article>
  <div class="scroll-to-top">
    <i class="fas fa-chevron-up"></i>
  </div>
{% endblock %}
{% block javascripts %}
<script src={{asset("js/rgpd.js")}}></script>
{% endblock %}