<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="Description" content="Salle de Sport AccèGym" />
  <meta name="Keywords" content="salle, sport, remise en forme">
  <meta name="Copyright" content="Moreno-Lopez Alexis">
  <meta name="Author" content="Moreno-Lopez Alexis">
  <meta name="Revisit-After" content="15 days">
  <meta name="Robots" content="all">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/Propos/propos.css" />
  <title>à propos</title>
</head>

<body>
  <nav class="navbar navbar-dark navbar-expand-xl">
    <div class="container-xxl d-flex text-center">
      <button class="navbar-toggler p-3 bg-black " type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header justify-content-end">
          <!-- <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5> -->
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav gap-3 flex-grow-1">
            <li class="nav-item">
              <a class="nav-link" href="../Connexion/connexion.html">Connexion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Abonnement/abonnement.html">S'abonner</a>
            </li>
            <h1 class="d-flex">Accès
              <li class="nav-item d-flex align-items-center">
                <a class="nav-img" href="/Index/index2.html">
                  <img class="logoProfil" src="/img/sport.png" alt="">
                </a>
              </li>
              Gym
            </h1>
            <li class="nav-item">
              <a class="nav-link" href="/Index/index2.html#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Propos/propos.html">À Propos</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <header class="paragraphe-un">
    <div class="center">
      <div>
        <h2 class="margin text-white">Pourquoi AccèsGym ?</h2>
        <p class="paragraphe-un">
          S'inscrire chez AccèsGym est un bon premier pas. L'étape suivante
          consistera à trouver votre routine. C'est là que AccèsGym est prêt à
          vous aider. Car si vous êtes et restez motivé(e)s, vous êtes
          définitivement sur la voie du succès. Après une courte inscription
          en ligne, les nouveaux membres reçoivent un programme d'entraînement
          personnel pendant les 6 premières semaines pour leur permettre de
          prendre un bon départ.
        </p>
      </div>

      <div>
        <h1 class="h">AccèsGym</h1>
      </div>
    </div>
  </header>
  <section class="background-brown">
    <div class="ajustement d-flex">
      <div>
        <img class="taille-img-1" src="/img/sportif-1.jpg" alt="" />
      </div>
      <div>
        <h2 class="titre-un text-white">CLUBS AccèsGym</h2>
        <p class="paragraphe-un">
          Dans tous nos clubs, vous pouvez trouver les équipements les plus
          récents de Matrix et TechnoGym. Tout ce dont vous avez besoin pour
          un entraînement parfait ! L'hygiène a toujours été importante et
          l'est encore plus aujourd'hui. Vous pouvez faire votre propre
          entraînement dans la salle de fitness ouverte, ou suivre un cours
          virtuel dans la salle de cours collectifs GXR. De nombreuses salles
          proposent également des cours collectifs Live !
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class="ajustement d-flex">
      <div>
        <h2 class="titre-deux">INSCRIPTION CHEZ AccèsGym</h2>
        <p class="paragraphe-deux">
          Devenez membre AccèsGym ! Choisissez l'abonnement qui vous convient
          le mieux et ajoutez des options supplémentaires pour qu'il réponde à
          100 % à vos besoins. Dans certaines régions, nous proposons
          également des clubs AccèsGym uniquement pour femmes.
        </p>
      </div>
      <div>
        <img class="taille-img-2" src="/img/img-coach.jpg" alt="" />
      </div>
    </div>
  </section>
  <section class="background-brown">
    <div class="ajustement d-flex">
      <div>
        <img class="taille-img-3" src="/img/sportif-5.webp" alt="" />
      </div>

      <div>
        <h2 class="titre-un text-white">NOTRE VISION DURABLE</h2>
        <p class="paragraphe-un">
          AccèsGym s'engage à contribuer à un monde plus en forme. Pour vous,
          et les générations futures. Notre objectif est d'influencer
          positivement la population, la planète et les communautés. Ensemble,
           prenons soin des personnes et de l'environnement de manière
          durable ! ÉQUITABLE Nous invitons nos collaborateurs à avoir un
          impact et à partager notre mission qui consiste à rendre le fitness
          accessible à tous et à en faire une habitude que les gens aiment.
          Nous nous appuyons sur notre culture diversifiée et nous grandissons
          ensemble. Nous sommes également fiers de promouvoir l’égalité femmes
          – hommes et de donner à tous l’opportunité de grandir au sein de
          l’entreprise. Découvrez ici le dernier score.
        </p>
      </div>
    </div>
  </section>
  <div class="scroll-to-top">
    <i class="fas fa-chevron-up"></i>
  </div>
  <script src="/Propos/propos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>