{% extends 'base.html.twig' %}

{%  block metaEtLinkSupplementaire %}
    <link rel="stylesheet" href={{asset('styles/propos.css')}}>
    {% endblock %}

{% block title %}Hello ProposController!{% endblock %}


{% block body %}
 <header class="paragraphe-un">
    <div class="center">
      <div>
        <h2 class="margin text-white">Pourquoi AccèsGym ?</h2>
        <p class="paragraphe-un">
          S'inscrire chez AccèsGym est un bon premier pas. L'étape suivante
          consistera à trouver votre routine. C'est là que AccèsGym est prêt à
          vous aider. Car si vous êtes et restez motivé(e)s, vous êtes
          définitivement sur la voie du succès. Après une courte inscription
          en ligne, les nouveaux membres reçoivent un programme d'entraînement
          personnel pendant les 6 premières semaines pour leur permettre de
          prendre un bon départ.
        </p>
      </div>

      <div>
        <h1 class="h">AccèsGym</h1>
      </div>
    </div>
  </header>
  <section class="background-brown">
    <div class="ajustement d-flex">
      <div>
        <img class="taille-img-1" src="/img/sportif-1.jpg" alt="" />
      </div>
      <div>
        <h2 class="titre-un text-white">CLUBS AccèsGym</h2>
        <p class="paragraphe-un">
          Dans tous nos clubs, vous pouvez trouver les équipements les plus
          récents de Matrix et TechnoGym. Tout ce dont vous avez besoin pour
          un entraînement parfait ! L'hygiène a toujours été importante et
          l'est encore plus aujourd'hui. Vous pouvez faire votre propre
          entraînement dans la salle de fitness ouverte, ou suivre un cours
          virtuel dans la salle de cours collectifs GXR. De nombreuses salles
          proposent également des cours collectifs Live !
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class="ajustement d-flex">
      <div>
        <h2 class="titre-deux">INSCRIPTION CHEZ AccèsGym</h2>
        <p class="paragraphe-deux">
          Devenez membre AccèsGym ! Choisissez l'abonnement qui vous convient
          le mieux et ajoutez des options supplémentaires pour qu'il réponde à
          100 % à vos besoins. Dans certaines régions, nous proposons
          également des clubs AccèsGym uniquement pour femmes.
        </p>
      </div>
      <div>
        <img class="taille-img-2" src="/img/img-coach.jpg" alt="" />
      </div>
    </div>
  </section>
  <section class="background-brown">
    <div class="ajustement d-flex">
      <div>
        <img class="taille-img-3" src="/img/sportif-5.webp" alt="" />
      </div>

      <div>
        <h2 class="titre-un text-white">NOTRE VISION DURABLE</h2>
        <p class="paragraphe-un">
          AccèsGym s'engage à contribuer à un monde plus en forme. Pour vous,
          et les générations futures. Notre objectif est d'influencer
          positivement la population, la planète et les communautés. Ensemble,
           prenons soin des personnes et de l'environnement de manière
          durable ! ÉQUITABLE Nous invitons nos collaborateurs à avoir un
          impact et à partager notre mission qui consiste à rendre le fitness
          accessible à tous et à en faire une habitude que les gens aiment.
          Nous nous appuyons sur notre culture diversifiée et nous grandissons
          ensemble. Nous sommes également fiers de promouvoir l’égalité femmes
          – hommes et de donner à tous l’opportunité de grandir au sein de
          l’entreprise. Découvrez ici le dernier score.
        </p>
      </div>
    </div>
  </section>
  <div class="scroll-to-top">
    <i class="fas fa-chevron-up"></i>
  </div>
{% endblock %}
{% block JavascriptDuBas %}
<script src={{asset("/propos.js")}}></script>
{% endblock %}