<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="Description" content="Salle de Sport AccèGym" />
  <meta name="Keywords" content="salle, sport, remise en forme">
  <meta name="Copyright" content="Moreno-Lopez Alexis">
  <meta name="Author" content="Moreno-Lopez Alexis">
  <meta name="Revisit-After" content="15 days">
  <meta name="Robots" content="all">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Connexion</title>
</head>

<body>
  <header></header>
  <main>
    <section id="connexion">
      <div class="box container">
        <div class="test1">
          <img src="/img/logo.png" alt="" />
        </div>
        <form action="./accueil.php" method="POST">

          <!-- Ajout de method="POST" -->
          <input class="inputconect" placeholder="Email" type="text" />
          <input class="inputconect" placeholder="Password" type="text" />

          <div class="btnconnexion">
            <input type="submit" class="valider" value="Valider" />
            <a href="admin.php"></a>
            <!-- Cela semble être un lien, mais il n'y a pas de texte à l'intérieur -->
          </div>
        </form>
      </div>
    </section>
  </main>
  <footer></footer>
  <link rel="stylesheet" href="./connexion.css" />
  <!-- Déplacement de la feuille de style vers le bas -->
</body>

</html>