<?php
namespace App\Controller;

use App\Entity\Abonner;
use App\Repository\AbonnerRepository;
use App\Repository\UserRepository;
use Doctrine\ORM\EntityManagerInterface;
use Symfony\Bundle\FrameworkBundle\Controller\AbstractController;
use Symfony\Component\HttpFoundation\Request;
use Symfony\Component\HttpFoundation\Response;
use Symfony\Component\Routing\Annotation\Route;
use Symfony\Component\Security\Core\User\UserInterface;

class ProfilController extends AbstractController
{
    #[Route('/profil', name: 'app_profil')]
    public function index(AbonnerRepository $abonnerRepository): Response
    {
        $user = $this->getUser(); // Récupère l'utilisateur connecté

        $abonner = $abonnerRepository->findOneBy(['user' => $user]); // Récupère l'objet Abonner correspondant à l'utilisateur connecté

        $abonnerId = $abonner->getId(); // Récupère l'ID de l'abonner

        $abonnement = $abonner->getSubscription(); // Récupère l'objet Abonnement correspondant à l'abonné

        // Récupère les informations de l'abonné
        $nom = $abonner->getName();
        $prenom = $abonner->getFirstName();
        $dateNaissance = $abonner->getDateOfBirth()->format('d/m/Y');
        $telephone = $abonner->getTelephone();
        $email = $abonner->getEmailConfirmation();
        $codePostal = $abonner->getPostalCode();
        $ville = $abonner->getCity();
        $rue = $abonner->getStreet();
        $numeroRue = $abonner->getAddress();

        // Envoie les informations de l'abonné à la vue Twig
        return $this->render('profil/profil.html.twig', [
            'controller_name' => 'ProfilController',
            'abonnement' => $abonnement,
            'abonner' => $abonner,
            'abonnerId' => $abonnerId, // Passe l'ID de l'abonner à la vue Twig
            'nom' => $nom,
            'prenom' => $prenom,
            'dateNaissance' => $dateNaissance,
            'telephone' => $telephone,
            'emailConfirmation' => $email,
            'codePostal' => $codePostal,
            'ville' => $ville,
            'rue' => $rue,
            'numeroRue' => $numeroRue,
        ]);
    }

    /**
     * @Route("/profil/delete/{id}", name="app_profil_delete", methods={"DELETE"})
     */
    public function deleteAbonner(Abonner $abonner, EntityManagerInterface $entityManager): Response
    {
        if ($this->getUser() !== $abonner->getUser()) {
            throw $this->createAccessDeniedException();
        }

        $entityManager->remove($abonner);
        $entityManager->flush();

        return $this->redirectToRoute('app_home'); // Redirigez vers la page d'accueil ou une autre page appropriée
    }

    /**
     * @Route("/profil/unsubscribe/{id}", name="app_profil_unsubscribe", methods={"GET"})
     */
    public function unsubscribe(Abonner $abonner, EntityManagerInterface $entityManager, UserRepository $userRepository): Response
    {
        $user = $userRepository->find($abonner->getUser()->getId());

        if ($this->getUser() !== $user) {
            throw $this->createAccessDeniedException();
        }

        // Supprime l'abonnement de l'abonner
        $abonner->setSubscription(null);

        // Supprime l'abonner de la base de données
        $entityManager->remove($abonner);
        $entityManager->flush();

        // Redirige vers la page d'accueil ou une autre page appropriée
        return $this->redirectToRoute('app_index');
    }
}