* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    list-style: none;
  }
  
  body {
    background-color: rgb(242, 240, 240);
    margin: 0 auto;
    text-align: center;
  }
  html,
  body {
    line-height: 1.5;
    min-height: 100vh;
  }

  h1 {
    color: white;
    text-align: center;
    margin: 1%;
    padding: 10px 10px 10px 10px;
  
  }
  /*-------------------------------------------- Fin------------------------------------------------------------*/
  /*-------------------------------------------- navbar------------------------------------------------------------*/
  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .nav-img {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar {

    background-color: #fe7000;
  height: 80px;
  
  }
  
  .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    list-style-type: none;
    padding: 0 100px;
  
  
  }
  .navbar li {
    position: relative;
    font-size: 1.3rem;
   
  
  }
  .navbar li::before {
    content: "";
    width: 0;
    height: 5px;
    position: absolute;
    background: black;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease; /* Transition fluide */
  }
  .navbar li:hover img {
    opacity: 1; /* Annule l'effet de la barre sur les images */
  }
  
  /* nav li:first-child {
  color: white;
  } */
  
  .navbar li:hover:before {
    width: 100%; /* Ajuste la largeur au survol */
  }
  
  .logoProfil {
    height: 40px;
    width: 40px;
  }
  
  a {
    text-decoration: none;
    color: black;
  
  }
  #offcanvasDarkNavbar {
    background-color: #fe7000;
  }
  .nav-img {
  
    width: 50px;
  }
  @media (max-width: 1200px) { 

    .nav-link {
  color: black;
  
    }
  
  }
  /*--------------------------------------------Grand Titre------------------------------------------------------------*/
  h1 {
    text-align: center;
    margin: 1%;
    padding: 10px 10px 10px 10px;
  
  }
    /*--------------------------------------------Fin------------------------------------------------------------*/
   header {
    justify-content: space-evenly;
    align-items: center;
   }
   .padding {
    padding-top: 100px;

   }
   
    .photo {
height: 200px;
width: 200px;
border-radius: 30px;

    }
    .appareil {
        margin-right: 100px;
        height: 40px;
        width: 40px;
    }
    .prenom {
        margin-top: 10px;
    }
    .modification {
        background: rgba(254,112,0,0.7);
        border-radius: 10px;
        width: 190px;

    }
    .box {

        margin-left: 10%;
        height: 400px;
        width: 400px;
        background: rgba(191, 191, 191,0.5);
        border-radius: 20px;
    }
    .separation {
    background-color: #fe7000;
        height: 15px;
    }
    h2 {
    padding: 10px;
    }
    h3 {
        padding: 10px;
        font-size: 1.5rem;
    }
    .margin {
        margin-top: 20px;
    }
    
    .logoverif{
        height: 20px;
        width: 20px; 
    }
    
    .ligne {
        display: flex;
    }
    .paragraphe-un {
        padding: 100px;
    }
    .placement {
        display: flex;
        justify-content: center;
    }
    .corners {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .corner {
        border-radius: 25px;
        border: 1px solid #000000;
        padding: 30px;
        width: 400px;
        height: fit-content;
        font-size: 1.8rem;
        line-height: 1.7;
        background-color: white;
    }

    .list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .toggle-table {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .toggle-table i  {
        margin-left: auto;
    }

    .hidden {
        display: none;
    }    
        
li {
  text-align: start;
}
    header {
        padding-bottom: 50px;
        display: flex;
    }
    footer {
        padding-top: 50px;
        background: #413434;
    }
    @media (max-width: 800px) { 

 header {
    flex-direction: column;
 }
       .corners {
        flex-direction: column;
       }     
       .corner {
        width: 300px;
       }
        }
        @media (max-width: 900px) { 

                  .corner {
                   width: 300px;
                  }
     }
