
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    list-style: none;
  }
  
  body {
    background-color: rgb(242, 240, 240);
    margin: 0 auto;
    text-align: center;
  }
  html,
  body {
    line-height: 1.5;
    min-height: 100vh;
  }

  h1 {
    color: white;
    text-align: center;
    margin: 1%;
    padding: 10px 10px 10px 10px;
  
  }
  
  /*-------------------------------------------- navbar------------------------------------------------------------*/
  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .nav-img {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar {

    background-color: #fe7000;
  height: 80px;
  
  }
  
  .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    list-style-type: none;
    padding: 0 100px;
  
  
  }
  .navbar li {
    position: relative;
    font-size: 1.3rem;
   
  
  }
  .navbar li::before {
    content: "";
    width: 0;
    height: 5px;
    position: absolute;
    background: black;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease; /* Transition fluide */
  }
  .navbar li:hover img {
    opacity: 1; /* Annule l'effet de la barre sur les images */
  }
  
  /* nav li:first-child {
  color: white;
  } */
  
  .navbar li:hover:before {
    width: 100%; /* Ajuste la largeur au survol */
  }
  
  .logoProfil {
    height: 40px;
    width: 40px;
  }
  
  a {
    text-decoration: none;
    color: black;
  
  }
  #offcanvasDarkNavbar {
    background-color: #fe7000;
  }
  .nav-img {
  
    width: 50px;
  }
  @media (max-width: 1200px) { 

    .nav-link {
  color: black;
  
    }
  
  }
  
    /*-------------------------------------------- Titre------------------------------------------------------------*/
    h1 {
      text-align: center;
      margin: 1%;
      padding: 10px 10px 10px 10px;
    
    }

    /*-------------------------------------------- Fin--------------------------------------------------------------*/
/*-------------------------------------------- Header------------------------------------------------------------*/
  header {
    background-image: url(/img/sportpoids.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center;
  }
  .paragraphe-un {
    font-size: 1.5rem;
    text-align: left;
padding: 20px 150px 0px 50px;
color: white;
  } 
  
  .margin {
    margin-left: 50px;
  }
  /*-------------------------------------------- Fin--------------------------------------------------------------*/

  .paragraphe-deux {
    font-size: 1.5rem;
    text-align: left;
    padding: 20px 150px 0px 0px;
    color: black;
  }
  .background-brown {
    background: #413434;
  }
  .taille-img-1 {
    height: 250px;
    width: 300px;

  }
  .taille-img-2 {
    height: 250px;
    width: 300px;

  }
  .taille-img-3 {
    height: 250px;
    width: 300px;

  }
  .center {
    align-items: center;
    display: flex;
    text-align: left;
  }
  .ajustement {
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  .titre-un {
    text-align: left;
    padding-left: 50px ;
    
  }
  .titre-deux {
    text-align: left;
  }
  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:#fe7000;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
  }
  
  .scroll-to-top i {
    font-size: 20px;
  }
    /*--------------------------------------------MediaQuery------------------------------------------------------------*/
  @media (max-width: 880px) { 

    .center {
      flex-direction: column;
      justify-content: center;
      padding: 50px;
    }
    .margin {
      padding-bottom: 30px;
    }
    .h {
      padding-top: 200px;
    }

    .ajustement {
  flex-direction: column;
  justify-content: center;
  
    }
    .titre-un {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 0px;
      margin: 0px;
    }
    .paragraphe-un{
justify-content: center;

      padding:0px;
    }
    .titre-deux {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 0px 50px 0px;
      margin: 0px;
    }
    .paragraphe-deux {
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      padding: 0px 0px 50px 0px;
    }  
  }
