@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");



/* Déclaration des variables CSS */
:root {


  --navbar-bar-hover-color: black;
  --navbar-text-burger-color: black;
  --navbar-bg-color: #fe7000;
  --navbar-text-color: white;
  --color-separation-box-color: #fe7000;
  --color-background: rgb(242, 240, 240);
  --color-scroll-bg: #fe7000;
  --navbar-burger-color: #fe7000;
  --color-box-background: rgba(191, 191, 191, 0.5);
  --color-scroll-icon: white;
  --color-section-box: rgb(226, 224, 224);
  --color-box-shadow: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: var(--color-background);
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  line-height: 1.5;
  min-height: 100vh;
}
/*-------------------------------------------- Titre------------------------------------------------------------*/
h1 {
  color: var(--color-background);
  text-align: center;
  margin: 1%;
  padding: 10px 10px 10px 10px;
}
/*-------------------------------------------- Fin------------------------------------------------------------*/
/*-------------------------------------------- navbar------------------------------------------------------------*/
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--navbar-text-color);
}

.nav-img {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: var(--navbar-bg-color);
  height: 80px;
  min-width: 80px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  list-style-type: none;
  padding: 0 100px;
}

.navbar li {
  position: relative;
  font-size: 1.3rem;
}

.navbar li::before {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  background:var(--navbar-bar-hover-color);
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease; /* Transition fluide */
}

.navbar li:hover img {
  opacity: 1; /* Annule l'effet de la barre sur les images */
}

/* nav li:first-child {
  color: white;
  } */

.navbar li:hover:before {
  width: 100%; /* Ajuste la largeur au survol */
}

.logoProfil {
  height: 40px;
  width: 40px;
  border-radius:10px;
}

a {
  text-decoration: none;
  color: var(--navbar-text-burger-color);
}

#offcanvasDarkNavbar {
  background-color: var(--navbar-burger-color);
}

.nav-img {
  width: 50px;
}



/*--------------------------------------------Fin------------------------------------------------------------*/
/*--------------------------------------------Un------------------------------------------------------------*/
.un {
  padding: 50px 0px 50px 0px;
  background-color:var(--color-section-box);
  box-shadow: 0px 0px 17px var(--color-box-shadow);
}
/*--------------------------------------------Fin------------------------------------------------------------*/
/*--------------------------------------------Deux------------------------------------------------------------*/
.deux {
  padding: 50px 0px 50px 0px;
}
/*--------------------------------------------Fin------------------------------------------------------------*/
/*--------------------------------------------Trois------------------------------------------------------------*/
.trois {
  padding: 50px 0px 50px 0px;
  background: var(--color-section-box);
  box-shadow: -1px -10px 17px -9px var(--color-box-shadow);
}
/*--------------------------------------------Fin------------------------------------------------------------*/
/*--------------------------------------------Box Abonnement------------------------------------------------------------*/
.box {
  margin-left: 10%;
  height: 410px;
  width: 400px;
  background: var(--color-box-background);
  border-radius: 20px;
  box-shadow: 5px 5px 10px var(--color-box-shadow);
}

.separation {
  background-color: var(--color-separation-box-color);
  height: 15px;
}

h2 {
  padding: 10px;
}

h3 {
  padding: 10px;
  font-size: 1.5rem;
}

.margin {
  margin-top: 20px;
}

.logoverif {
  height: 20px;
  width: 20px;
}

.ligne {
  display: flex;
}

.font {
  font-size: 1.5rem;
}

.paragraphe-un {
  padding: 80px 80px 80px 80px;
}
/*--------------------------------------------Fin------------------------------------------------------------*/
/*--------------------------------------------Scroll------------------------------------------------------------*/
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--color-scroll-bg);
  color: var(--color-scroll-icon);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.scroll-to-top i {
  font-size: 20px;
  display: inline-block; /* Assurez-vous que l'icône est traitée comme un bloc en ligne */
  line-height: 40px; /* Assurez-vous que l'icône est alignée verticalement avec le bouton */
}
/*--------------------------------------------Fin------------------------------------------------------------*/
/*--------------------------------------------MediaQuery------------------------------------------------------------*/

@media (max-width: 1200px) {
  .nav-link {
    color: black;
  }
  #pet-select {
    color: black;
  }
  .paragraphe-un {
    padding: 0px 80px 80px 80px !important;
  }
}

@media (max-width: 993px) {
  .ligne {
    flex-direction: column;
  }
  .box {
    margin: 0;
    height: 420px;
  }
  .un {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paragraphe-un {
    padding-top: 80px !important;
  }
}

@media (max-width: 700px) {
  .box {
    width: 300px;
  }

  .logoProfil {
    height: 30px;
    width: 30px;
  }
}
/*--------------------------------------------Fin------------------------------------------------------------*/
/* #test6 {
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
} */
