
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
  }
  
  body {
    background-color: rgb(242, 240, 240);
    margin: 0 auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  html,
  body {
    line-height: 1.5;
    min-height: 100vh;
  }

  h1 {
    color: white;
    text-align: center;
    margin: 1%;
    padding: 10px 10px 10px 10px;
  
  }
  /*-------------------------------------------- Fin------------------------------------------------------------*/
  /*-------------------------------------------- navbar------------------------------------------------------------*/
  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .nav-img {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar {

    background-color: #fe7000;
  height: 80px;
  
  }
  
  .navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    list-style-type: none;
    padding: 0 100px;
  
  
  }
  .navbar li {
    position: relative;
    font-size: 1.3rem;
   
  
  }
  .navbar li::before {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    background: black;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease; /* Transition fluide */
  }
  .navbar li:hover img {
    opacity: 1; /* Annule l'effet de la barre sur les images */
  }
  
  /* nav li:first-child {
  color: white;
  } */
  
  .navbar li:hover:before {
    width: 100%; /* Ajuste la largeur au survol */
  }
  
  .logoProfil {
    height: 40px;
    width: 40px;
  }
  
  a {
    text-decoration: none;
    color: black;
  
  }
  #offcanvasDarkNavbar {
    background-color: #fe7000;
  }
  .nav-img {
  
    width: 50px;
  }
  @media (max-width: 1200px) { 

    .nav-link {
  color: black;
  
    }
  
  }
  /*--------------------------------------------Grand Titre------------------------------------------------------------*/
  h1 {
    text-align: center;
    margin: 1%;
    padding: 10px 10px 10px 10px;
  
  }
    /*--------------------------------------------Fin------------------------------------------------------------*/
   header {
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
    display: flex;
   }
   .padding {
    padding-top: 100px;

   }
   
    .photo {
height: 200px;
width: 200px;
border-radius: 30px;

    }
    .appareil {
        margin-right: 100px;
        height: 40px;
        width: 40px;
    }
    .prenom {
        margin-top: 10px;
    }
    .modification {
        background: rgba(254,112,0,0.7);
        border-radius: 10px;
        width: 190px;

    }
    .box {

        margin-left: 10%;
        height: 400px;
        width: 400px;
        background: rgba(191, 191, 191,0.5);
        border-radius: 20px;
    }
    .separation {
    background-color: #fe7000;
        height: 15px;
    }
    h2 {
    padding: 10px;
    }
    h3 {
        padding: 10px;
        font-size: 1.5rem;
    }
    .margin {
        margin-top: 20px;
    }
    
    .logoverif{
        height: 20px;
        width: 20px; 
    }
    
    .ligne {
        display: flex;
    }
    .paragraphe-un {
        padding: 100px;
    }
    .placement {
        display: flex;
        justify-content: center;
    }
    .corners {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .corner {
        border-radius: 25px;
        border: 1px solid #000000;
        padding: 30px;
        width: 400px;
        height: fit-content;
        font-size: 1.8rem;
        line-height: 1.7;
        background-color: white;
    }

    .list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .toggle-table {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .toggle-table i  {
        margin-left: auto;
    }

    .hidden {
        display: none;
    }    
        
li {
  text-align: start;
}

    section {
        padding-top: 50px;
        background: #413434;
    }

    .modifier {

      font-size: 10px;
      height: 30px;
      background: white;
      border: 1px solid #fe7000;
      border-radius: 50px;
padding: 10px;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .modifier:hover {
      background: #fe7000;
    }
    @media (max-width: 800px) { 

 header {
    flex-direction: column;
 }
       .corners {
        flex-direction: column;
       }     
       .corner {
        width: 300px;
       }
        }
        @media (max-width: 900px) { 

                  .corner {
                   width: 300px;
                  }
     }

     /* not required */
*,:active{
	outline: none;
}
*{
	padding: 0px;
	margin: 0px;
}

body{
	margin: 20px;
	background-color: #EEEDE9;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-size: 96.5%;
	font-family: Helvetica, Arial, sans-serif;
}

input{
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, p{
	margin-bottom: 10px;
}

p{
	line-height: 20px;
}

a{
	text-decoration: none;
	color: #FF462B;
}

.clearfix{
	clear: both;
}

.animate{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


/* required */
.calendar{
	display: flex;
  justify-content: center;
  align-items: center;
	border-radius: 4px;
	overflow: hidden;

	background-color: #ffffff;
	color: #333333;
}

.calendar h1, .calendar h2{
	font-weight: 300;
	font-size: 26px;
	line-height: 28px;
	text-transform: uppercase;
	margin: 0px 0px 20px 0px;
}

.calendar h1 span{
	display: block;
}

.calendar .col{
	position: relative;
	float: left;
	height: 100%;
}

.calendar .col .content{
	padding: 40px;
}

.calendar ul{
	margin: 0px;
}

.calendar ul li{
	list-style: none;
}

.calendar .leftCol{
	width: 40%;
	background-color: #F48989;
}

.calendar .noteList li{
	color: #ffffff;
	margin-bottom: 10px;
}

.calendar .notes p,
.calendar .notes input,
.calendar .noteList li{
	font-weight: 300;
	font-size: 14px;
}

.calendar .notes p{
	border-bottom: solid 1px rgba(255,255,255,0.4);
}

.calendar .notes input{
	background-color: #F48989;
	color: #ffffff;
	border: none;
	width: 200px;
}

.calendar .addNote,
.calendar .removeNote{
	float: right;
	color: rgba(255,255,255,0.4);
	font-weight: bold;
	margin-left: 20px;
}

.calendar .addNote:hover,
.calendar .removeNote:hover{
	color: #ffffff;
}

.calendar .addNote{
	font-size: 16px;
}

.calendar .leftCol h1{
	color: #ffffff;
	margin-bottom: 40px;
}

.calendar .rightCol{
	width: 60%;
}

.calendar .rightCol h2{
	color: #C7BEBE;
	text-align: right;
	margin-bottom: 70px;
}

.calendar .months li,
.calendar .weekday li,
.calendar .days li{
	float: left;
	text-transform: uppercase;
}

.calendar .months li a,
.calendar .weekday li a,
.calendar .days li a{
	display: block;
	color: #747978;
}

.calendar .months li a{
	font-size: 10px;
	color: #C7BEBE;
	text-align: center;
	width: 32px;
	margin-bottom: 20px;
}

.calendar .months li .selected{
	font-weight: bold;
	color: #747978;
}

.calendar .weekday li a{
	width: 55px;
	text-align: center;
	margin-bottom: 20px;
	font-size: 12px;
}

.calendar .days li{
	width: 55px;
}

.calendar .days li a{
	width: 36px;
	height: 24px;
	text-align: center;
	margin: auto auto;
	font-size: 12px;
	font-weight: bold;
	border-radius: 12px;
	margin-bottom: 10px;
	padding-top: 10px;
}


.calendar .days li a:hover{
	background-color: #EEEDE9;
}

.calendar .days li .selected{
	background-color: #F5A1A3!important;
	color: #ffffff;
}

.calendar .days li .event{
	color: #F5A1A3;
}


/* placeholder color */
::-webkit-input-placeholder {color: #ffffff; }
:-moz-placeholder {color: #ffffff; }
::-moz-placeholder {color: #ffffff; }
:-ms-input-placeholder {color: #ffffff; }