 

 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: rgb(242, 240, 240);
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
html,
body {
  line-height: 1.5;
  min-height: 100vh;
}
/*-------------------------------------------- Titre------------------------------------------------------------*/
h1 {
  color: white;
  text-align: center;
  margin: 1%;
  padding: 10px 10px 10px 10px;
  font-style: italic;

}

/*-------------------------------------------- Fin------------------------------------------------------------*/
/*-------------------------------------------- navbar------------------------------------------------------------*/
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.nav-img {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {

  background-color: #fe7000;
height: 80px;
min-width: 80px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  list-style-type: none;
  padding: 0 100px;


}
.navbar li {
  position: relative;
font-size: 1.3rem;
font-style: italic;
 

}
.navbar li::before {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  background: black;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease; /* Transition fluide */
}
.navbar li:hover img {
  opacity: 1; /* Annule l'effet de la barre sur les images */
}

/* nav li:first-child {
color: white;
} */

.navbar li:hover:before {
  width: 100%; /* Ajuste la largeur au survol */
}

.logoProfil {
  height: 40px;
  width: 40px;
}
#offcanvasDarkNavbar {
  background-color: #fe7000;
}
a {
  text-decoration: none;
  color: black;

}
.nav-img {

  width: 50px;
}
@media (max-width: 1200px) { 

  .nav-link {
color: black;

  }

}

/*--------------------------------------------Fin------------------------------------------------------------*/
/*--------------------------------------------Header------------------------------------------------------------*/
.space-h3 {
  padding: 100px 5px 5px 5px;
}
.taille video {
  max-width: 100%;
  max-height: 100%;
}

/*--------------------------------------------Fin------------------------------------------------------------*/
/*--------------------------------------------sec-un------------------------------------------------------------*/
.Paragraphe-un {
  text-align: center;
 padding-bottom: 100px;
}
/*--------------------------------------------Fin------------------------------------------------------------*/
/*--------------------------------------------sec-deux------------------------------------------------------------*/
.sec-deux {
  background-color: rgb(226, 224, 224)
}



img {
  width: 100%;

}

.bas-card,
h2,
.date {
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
  
  
}

.bas-card,
h2 {
  font-family: "Reenie Beanie", sans-serif;
  font-size: 2em;
  padding: 10px 10px 0 10px;
}

.date {
  font-size: 0.75em;
}

.description {
  font-size: 0.9em;
  padding: 0 20px 20px 20px;
  text-align: left;
}
.container {
  perspective: 1000px;
  display: inline-block;
  margin: 6%;

}

.container:hover .retourne-card {
  transform: rotateY(180deg);
}

.container,
.design-card,
.design-card-deux {
  width: 250px;
  height: 250px;
}

.retourne-card {

  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.retourne-card img {

height: 70%;

}

.design-card,
.design-card-deux {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.design-card {
  z-index: 2;
}

.design-card-deux {
  transform: rotateY(180deg);
}

#content {
  text-align: center;
}
@media (max-width: 763px) { 

  .design-card {
    height: 200px;
    width: 200px;
  }
  .bas-card {
    font-size: 1.5rem;
  }
}
@media (max-width: 663px) { 

 .design-card {
    height: 200px;
    width: 200px;
  }
}

/*--------------------------------------------fin------------------------------------------------------------*/
/*--------------------------------------------sec-trois------------------------------------------------------------*/

h3 {
  font-size: 30px;
  text-align: center;
  text-shadow: -1px -1px 0 #2d2d2d, 1px -1px 0 #2d2d2d, -1px 1px 0 #2d2d2d,
    1px 1px 0 #2d2d2d;
    
}
.display {
  display: flex;
  justify-content: center;
align-items: center;
text-align: center;
padding-top: 100px;
padding-bottom: 100px;

}

.maps {
margin-right:100px;

}
iframe {

border-radius: 50px;
}
.paragraphe-deux {
font-size: 22px;
font-family: "Roboto Condensed", sans-serif;
text-align: center;
margin-top: 20px;

}
p {
margin-bottom: 15px;
}
@media (max-width: 1470px) { 

  .display {
display: block;

  }
  .maps {
    margin: 0;
    padding-bottom: 50px;
  }
}

@media (max-width: 580px) { 

  iframe {
height: 300px;
width: 300px;
  }
}
@media (max-width: 763px) { 

  iframe {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 663px) { 

  iframe {
    height: 250px;
    width: 250px;
  }
}
/*--------------------------------------------Fin------------------------------------------------------------*/
/*--------------------------------------------sec-quatre------------------------------------------------------------*/
.sec-quatre {
  background: rgb(226, 224, 224) ;

}
.bloc-sec-form {
  padding-bottom: 90px;
  align-items: center;


}
.form-grid {

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px;
  grid-template-areas:
    "input1 input2"
    "textarea textarea";
  gap: 10px;
  width: 85%;
  margin: 30px auto;
  max-width: 600px;
}
.textarea {
  grid-area: textarea;
}
label {
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
input[type="text"],
textarea {
  width: 100%;
  margin: 20px 0 40px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  transition: 0.2s;
}

input[type="text"]:focus,
textarea:focus {
  outline: 2px solid #fe7000;
}
textarea {
  resize: none;
  height: 180px;
}
.bouton {
  justify-content: center;
  border: 2px solid #fe7000;
  border-radius: 50px;
  padding: 12px 43px 12px 43px;
  background-color: white;
  color: black;
  display: inline-block;
 
  text-transform: uppercase;
  letter-spacing: 0.5px;
  width: auto; /* Vous pouvez définir une largeur fixe ici si nécessaire */
  min-width: 150px; /* Largeur minimale du bouton */
  max-width: 300px; /* Largeur maximale du bouton */
  font-family: var(--alt-font);
  font-weight: 500;
  position: relative; /* Permet le positionnement absolu du span */
  overflow: hidden; /* Pour masquer le cercle quand il est en dehors du bouton */
  transition: all 300ms ease-in-out;
  text-align: center; /* Centrer le texte horizontalement */
  margin-top: 15px;
}
.bouton:hover {
  background:#fe7000;
  border: 2px solid #fe7000;
  color: black;
}

.bouton > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* Taille du cercle */
  height: 30px; /* Taille du cercle */
  position: absolute;
  border-radius: 100%;
  background-color: #fe7000; /* Couleur du cercle */
  left: 8px; /* Positionne le cercle à gauche du bouton */
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.5s ease-in-out; /* Transition pour le mouvement du cercle */
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35);
  opacity: 1; /* Le cercle est visible par défaut */
}

.bouton > span > i {
  opacity: 0; /* La flèche est invisible par défaut */
  transition: opacity 0.5s ease-in-out; /* Transition pour l'opacité de la flèche */
}

.bouton:hover > span {
  left: calc(100% - 38px); /* Positionne le cercle à l'intérieur du bouton à droite */
  background-color: white;
}

.bouton:hover > span > i {
  opacity: 1; /* Rendre la flèche visible lors du survol */
  color: black;
}
@media (min-height: 663px) { 

  .form{

flex-direction: column;

  }
}
/*--------------------------------------------Fin------------------------------------------------------------*/
/*--------------------------------------------sec-cinq------------------------------------------------------------*/


.nav-reseau {
  background: #fe7000;
  padding: 2%;
}
.nav-reseau ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 33%;
  min-width: 300px;
  margin: 0 auto;
}
.nav-reseau a {
  background-color: whitesmoke;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 44px;
  height: 44px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*--------------------------------------------Fin------------------------------------------------------------*/
/*--------------------------------------------Footer------------------------------------------------------------*/


h4{
font-size: 25px;
text-align: center;
padding-bottom: 3%;

}


.footer-main-menu {
position: relative;
margin: 0;
padding-bottom: 5%;

}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fe7000;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.scroll-to-top i {
  font-size: 20px;
  display: inline-block; /* Assurez-vous que l'icône est traitée comme un bloc en ligne */
  line-height: 40px; /* Assurez-vous que l'icône est alignée verticalement avec le bouton */
}

/*--------------------------------------------Fin------------------------------------------------------------*/




/* .sec-2 {
  text-align: center;
  padding: 60px 0;
} */


@media (max-width: 763px) { 

h2, h3, h4, h5{

font-size: 1.3rem;

  }
  p {
    font-size: 1rem
  }

}
@media (max-width: 663px) { 

h2, h3, h4, h5 {

font-size: 1.1rem;

  }
  p {
    font-size: 0.9rem
  }

}


