h1 {
  color: white;
  text-align: center;
  margin: 1%;
  padding: 10px 10px 10px 50px;

}
/*-------------------------------------------- Fin------------------------------------------------------------*/
/*-------------------------------------------- navbar------------------------------------------------------------*/
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.nav-img {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  min-width: 100vw;
  background-color: #fe7000;
height: 80px;

}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  list-style-type: none;
  justify-content: space-around;



}
.navbar li {
  position: relative;

 

}
.navbar li::before {
  content: "";
  width: 0;
  height: 5px;
  position: absolute;
  background: black;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease; /* Transition fluide */
}
.navbar li:hover img {
  opacity: 1; /* Annule l'effet de la barre sur les images */
}

/* nav li:first-child {
color: white;
} */

.navbar li:hover:before {
  width: 100%; /* Ajuste la largeur au survol */
}

.logoProfil {
  height: 40px;
  width: 40px;
}

a {
  text-decoration: none;
  color: black;

}
.nav-img {

  width: 50px;
}
@media (max-width: 1200px) { 

  .logoProfil {

background-color: white;
  }
}
#pet-select{
 border: none;
 background-color: #fe7000;
 color: white;
 padding: 10px;
}