@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {

  --navbar-burger-color: #fe7000;
  --navbar-bg-color: #fe7000;
  --navbar-text-burger-color: black;
  --navbar-bar-hover-color: black;
  --navbar-text-color: white;

  --color-bg-button-hover: #fe7000;
  --arrow-cercle-button-hover-color: black;
  --color-bg-cercle-button-hover: white;
  --color-button-shadow: rgba(0, 0, 0, 0.35);
  --text-button-color: black;
  --color-border-button-hover: #fe7000;
  --color-border-button: #fe7000;
  --color-bg-cercle-button: #fe7000;
  --color-bg-button: white;

  --modal-bg-color: white;
  --modal-bg-header-croix-color:#fe7000;
  --modal-footer-bg-color: rgb(242, 240, 240);

  --background-color: rgb(242, 240, 240);
  --card-bg-color:white;
  --section-bas-color:#413434;
  --titre-bg-color:rgba(254, 112, 0, 0.9);
  --btn-close-bg-color:white;

  --corner-border-color: #000000;
  --corner-bg-color: white;
  --descriptif-bg-color:#fe7000; 

  --color-scroll-icon: white;
  --color-scroll-bg: #fe7000;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: var(--background-color);
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  line-height: 1.5;
  min-height: 100vh;
}
h1 {
  color:  var(--navbar-text-color);
  text-align: center;
  margin: 1%;
  padding: 10px 10px 10px 10px;
}
/*-------------------------------------------- Fin------------------------------------------------------------*/
/*-------------------------------------------- navbar------------------------------------------------------------*/
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--navbar-text-color);
}

.nav-img {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: var(--navbar-bg-color);
  height: 80px;
  min-width: 80px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  list-style-type: none;
  padding: 0 100px;
}

.navbar li {
  position: relative;
  font-size: 1.3rem;
}

.navbar li::before {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  background: var(--navbar-bar-hover-color);
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease; /* Transition fluide */
}

.navbar li:hover img {
  opacity: 1; /* Annule l'effet de la barre sur les images */
}

/* nav li:first-child {
  color: white;
  } */

.navbar li:hover:before {
  width: 100%; /* Ajuste la largeur au survol */
}

.logoProfil {
  height: 40px;
  width: 40px;
  border-radius:10px;
}

a {
  text-decoration: none;
  color: var(--navbar-text-burger-color);
}

#offcanvasDarkNavbar {
  background-color: var(--navbar-burger-color);
}

.nav-img {
  width: 50px;
}

/*--------------------------------------------Header------------------------------------------------------------*/
header {
  background-image: url(/img/bol.jpeg);
  width: 100%;
  height: 300px;
  display: flex;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*--------------------------------------------Section-un------------------------------------------------------------*/

img {
  width: 100%;
}

.bas-card,
h2,
.date {
  margin: 0;
  text-align: center;
}

.bas-card,
h2 {
  font-family: "Reenie Beanie", sans-serif;
  font-size: 2em;
  padding: 10px 10px 0 10px;
}

.date {
  font-size: 0.75em;
}

.description {
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 0.9em;
  padding: 0 20px 20px 20px;
  text-align: left;
  justify-content: center;
  margin: 6%;
}

.container {
  perspective: 1000px;
  display: inline-block;
  margin: 6%;
  width: 350px; /* Largeur fixe pour le conteneur */
  height: 250px; /* Hauteur fixe avant rotation */
}

.container:hover .retourne-card {
  transform: rotateY(180deg);
}

.retourne-card {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 250px; /* Hauteur fixe avant rotation */
}

.retourne-card img {
  height: 70%
}

.design-card,
.design-card-deux {
  background-color: var(--card-bg-color);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Largeur à 100% pour remplir le contenant */
  height: 100%; /* Hauteur à 100% pour remplir le contenant */
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.design-card {
  z-index: 2;
}

.design-card-deux {
  transform: rotateY(180deg);
  backface-visibility: hidden; /* Cache la face arrière pendant la transition */
  height: auto; /* Hauteur adaptative au contenu quand retournée */
}

#content {
  text-align: center;
}


.section-deux {
  background-color: var(--section-bas-color);
}

#padding {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
/* .h {
    background-color: rgba(254,112,0,0.6);
border-radius: 50px;
padding: 10px;

} */

.titre-un {
  background-color: var(--titre-bg-color);
  border-radius: 50px;
  padding: 10px;
  width: 200px;
}

.titre-deux {
  background-color: var(--titre-bg-color);
  border-radius: 50px;
  padding: 10px;
  width: 350px;
}

.bouton {
  justify-content: center;
  border: 2px solid var(--color-border-button);
  border-radius: 50px;
  padding: 12px 43px 12px 43px;
  background-color: var(--color-bg-button);
  color: var(--text-button-color);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  width: auto; /* Vous pouvez définir une largeur fixe ici si nécessaire */
  min-width: 150px; /* Largeur minimale du bouton */
  max-width: 300px; /* Largeur maximale du bouton */
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  position: relative; /* Permet le positionnement absolu du span */
  overflow: hidden; /* Pour masquer le cercle quand il est en dehors du bouton */
  transition: all 300ms ease-in-out;
  text-align: center; /* Centrer le texte horizontalement */
  margin-top: 15px;
}

.bouton:hover {
  background: var(--color-bg-button-hover);
  border: 2px solid var(--color-border-button-hover);
  color: var(--text-button-color);
}

.bouton > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* Taille du cercle */
  height: 30px; /* Taille du cercle */
  position: absolute;
  border-radius: 100%;
  background-color: var(--color-bg-cercle-button); /* Couleur du cercle */
  left: 8px; /* Positionne le cercle à gauche du bouton */
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.5s ease-in-out; /* Transition pour le mouvement du cercle */
  -webkit-box-shadow: 0 5px 10px 0 var(--color-button-shadow);
  box-shadow: 0 5px 10px 0 var(--color-button-shadow);
  opacity: 1; /* Le cercle est visible par défaut */
}

.bouton > span > i {
  opacity: 0; /* La flèche est invisible par défaut */
  transition: opacity 0.5s ease-in-out; /* Transition pour l'opacité de la flèche */
}

.bouton:hover > span {
  left: calc(
    100% - 38px
  ); /* Positionne le cercle à l'intérieur du bouton à droite */
  background-color: var(--color-bg-cercle-button-hover);
}

.bouton:hover > span > i {
  opacity: 1; /* Rendre la flèche visible lors du survol */
  color: var(--arrow-cercle-button-hover-color);
}

.modalImg {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: fit-content;
  overflow-y: auto;
  background-color: var(--modal-bg-color);
  max-height: 80vh;
  word-wrap: break-word; /* permet au texte de revenir à la ligne */
  word-break: break-word; /* coupe les mots trop longs */
  white-space: normal; /* permet de revenir à la ligne automatiquement */
  box-sizing: border-box; /* inclut le padding et la bordure dans la largeur totale de l'élément */
}

.btn-close {
  display: flex;
  align-items: end;
  background-color: var(--btn-close-bg-color); 
}

.chrono {
  height: 30px;
  width: 30px;
}

.espace {
  padding: 10px;
}

.placement {
  display: flex;
  justify-content: center;
}

.corners {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.corner {
  border-radius: 25px;
  border: 1px solid var(--corner-border-color);
  padding: 30px;
  width: 400px;
  height: fit-content;
  font-size: 1.8rem;
  line-height: 1.7;
  background-color: var(--corner-bg-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toggle-table {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggle-table i {
  margin-left: auto;
}

.hidden {
  display: none;
}

.center {
  display: flex;
  align-items: center;
}

.descriptif {
  padding: 10px 10px 10px 10px;
  background: var(--descriptif-bg-color);
}

.croix {
  background-color: var(--modal-bg-header-croix-color);
}

#myModal .image {
  width: 100%;
  height: auto;
  object-fit: cover;
  word-wrap: break-word; /* permet au texte de revenir à la ligne */
  word-break: break-word; /* coupe les mots trop longs */
  white-space: normal; /* permet de revenir à la ligne automatiquement */
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--color-scroll-bg);
  color: var(--color-scroll-icon);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.scroll-to-top i {
  font-size: 20px;
  display: inline-block; /* Assurez-vous que l'icône est traitée comme un bloc en ligne */
  line-height: 40px; /* Assurez-vous que l'icône est alignée verticalement avec le bouton */
}
.zero {
  margin: 0px;
  padding-bottom: 10px;
}

.text {
  text-align: start;
  padding: 20px;
}

.background {
  background: var(--modal-footer-bg-color);
  text-align: start;
}

@media (max-width: 1200px) {
  .nav-link {
    color: black;
  }
  #pet-select {
    color: black;
  }
}

@media (max-width: 1080px) {

}
@media (max-width: 1035px) {
  .container {
margin-bottom: 100px;
  }
}

