<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesAbo.css">
    <title>Document</title>
</head>
<body>
    

<header>
    <nav class="nav-1">
        <ul>
            <li><a href="https://libertygym.fr/abonnements/">S'inscrire</a></li>
            <li><a href="https://www.instagram.com/">S'abonner</a></li>
            <li class="test"><a href=""><img class="logoProfil" src="/img/image-de-lutilisateur-avec-fond-noir.png"
                        alt=""></a></li>
            <li><a href="https://libertygym.fr/contact/">Contact</a></li>
            <li><a href="https://libertygym.fr/le-concept/">A propos</a></li>
        </ul>
    </nav>
</header>
<footer>
    
    <div>

        <nav class="footer-main-menu">
            <div class="footer-main-menu-container">
                <div class="service-col">
                    <h4>Service &amp; Info</h4>
                    <ul>
                        <li><a href="/fr-fr/service-a-la-clientele">Service clientèle</a></li>
                        <li><a href="/fr-fr/a-propos-de-nous/reglement-interieur">Réglement intérieur</a></li>
                        <li><a href="/fr-fr/opening-hours">Heures d'ouverture</a></li>
                        <li><a href="/fr-fr/partnership">Partenariats</a></li>
                        <li><a href="https://webshop.basic-fit.com/fr/fr/">Boutique en ligne</a></li>
                        <li><a href="/fr-fr/blog">Blog</a></li>
                        <li><a href="https://basic-fit.com/fr-fr/devenir-ambassadeur">Ambassadeurs</a></li>
                        <li><a href="https://www.basic-fit.com/fr-fr/club-services.html">Services aux Clubs</a></li>
                    </ul>
                </div>
        </nav>

    </div>
</footer>



</body>
</html>