{% extends 'base.html.twig' %}

{% block metaEtLinkSupplementaire %}
  <link rel="stylesheet" href="{{ asset('styles/coach.css') }}" />
{% endblock %}

{% block body %}
    <header class="text-center">
        <h2>Coach</h2>
        <div class="texte">
            <p class="style">À AccèGym, nous sommes fiers de vous présenter nos trois coaches passionnés, chacun spécialisé dans un domaine unique pour vous aider à atteindre vos objectifs de remise en forme et de bien-être. Que vous souhaitiez renforcer vos muscles, perdre du poids de manière saine ou simplement trouver la paix intérieure, nos coaches sont là pour vous accompagner à chaque étape de votre parcours. Prenez rendez-vous dès aujourd'hui et commencez à transformer votre vie avec AccèGym !</p>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row justify-content-around">
                {% for coach in coaches %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ coach.abonner.name }}</h5>
                            <p class="card-text">Téléphone : {{ coach.abonner.telephone }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <div class="scroll-to-top">
        <i class="fas fa-chevron-up"></i>
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/coach.js') }}"></script>
{% endblock %}
